<div class="container">
	<div class="row">
		<div class="col-md-3"></div>
			<div class="col-md-6">
				<form>
					<h1> Movie History </h1>
					<input type="text" name ="email" placeholder ="email address">
					<input type="text" name ="password" placeholder ="password">
					<div class ="btn-group" role="group">
						<button type="button" class="btn btn-default"> Register </button>
						<button type="button" class="btn btn-default"> Login </button>
						<a name ="forgot-password" href ="#"> 
					</div>
				
				</form>
				<div class="col-md-3"></div>
			</div>
		</div>
	</div>
</div>