<h1> Movie History </h1>
<form>
	<input type ="text" name ="email" placeholder ="email address">
	<input type ="text" name ="password" placeholder ="password">
	<button id ="register"> Register </button>
	<button id ="login"> Login </button>
	<a name ="forgot-password" href ="#"> 
</form>