	<div>
		<a class="btn btn-primary" href="#" role="button">Link</a>
		<button class="btn btn-primary" type="submit">Watched</button>
		<input class="btn btn-primary" type="button" value="Input">
		<input class="btn btn-primary" type="submit" value="Submit">

		<a class="btn btn-primary" href="#" role="button">Link</a>
		<button class="btn btn-primary" type="submit">Unwatched</button>
		<input class="btn btn-primary" type="button" value="Input">
		<input class="btn btn-primary" type="submit" value="Submit">
	</div>
{{#each users}}
	<div>
		 <a id="" href="#" uid="{{uid}}">
		 <a href="https://cdn.tutsplus.com/vector/uploads/2013/09/chris-tabbar-4-10.png">
	  	 <div class="thumbnail" id="{{@key}}">
	     <img src="{{moviePoster}}" alt="{">
		 <div >
	     <h3 class="other-user-name">{{??.displayName}}</h3>
	</div>
	//second href is trash can icon. around it is just a basis for the movie poster firebase
{{/each}}

